{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>Home</h1>
    <br>
    <div class="horizontal-stack-w-about horizontal-stack-inner" style="margin-bottom: 50px;">
        <img src="https://www.thoughtco.com/thmb/PCVPjqDcfiY4az_kycvn-EJA-e8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/swarthmore-college-Eric-Behrens-flickr-5706ffe35f9b581408d48cb3.jpg" height="350" width="630" alt="Organized Workspace">
        <div style="margin-right: 40px;"></div>
        <div>
            <a style="width: 600px;">
                This website can be used to organize your common app college application experience, by compiling lots of useful information onto this website, including college ranking, info and a personalized list.
            </a>
            <div style="padding-bottom: 40px;"></div>
            <a style="width: 600px;">
                The "My College List" section is a place to add colleges of interest, which displays useful info about each college. This is restricted to 20 entries similar to the common app. Additionally, you can also add a colleges from the entire common app list to a personalzied calendar created to hold university deadlines. It allows you to select which college and deadline you want and displays all events in an embedded calendar and in a calendar created in your google account.
            </a>
        </div>
    </div>
    <div class="horizontal-stack-w-home" style="padding-bottom: 20px;">
        <h3>The following table explains each of the categories used in the QS Ranking section:</h3>
    </div>
    <div class="table-center meaning-table" style="padding-bottom: 40px;">
        <table class="info-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Meaning</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Academic Reputation</td>
                    <td>This metric illuminates the quality of an institution's research, but also their approach to academic partnerships, their strategic impact, their educational innovativeness and the impact they have made on education and society at large</td>
                </tr>
                <tr>
                    <td>Employer Reputation</td>
                    <td>This metric tracks the reputation of universities among employers, measuring their perceived ability to produce relevant and employable graduates.</td>
                </tr>
                <tr>
                    <td>International Research Network (IRN)</td>
                    <td>This is a measure of global engagement, and specifically on how institutions create and sustain research partnerships resulting in internationally co-authored publications with other institutions across borders to collaborate on solving the world's challenges and disseminate vital research to wider audiences. </td>
                </tr>
                <tr>
                    <td>Graduate Employment Rate</td>
                    <td>This metric tracks the percentage of students in a full or part time job directly after graduation compared to national and global averages.</td>
                </tr>
                <tr>
                    <td>Sustainability</td>
                    <td>This metric assesses universities' commitment to sustainability by examining alumni contributions to addressing climate issues, research impact on UN's 17 sustainable development goals, and overall social and environmental impact. It considers universities as centers of education, research, and large employers with operational sustainability challenges.</td>
                </tr>
                <tr>
                    <td>Citations Per Faculty</td>
                    <td>This metric is a measure of the relative intensity and volume of research being done at an institute, taking into account institute size. Citations, evaluated to take into account the size of the institution, are a well-understood and widely accepted measure of research strength.</td>
                </tr>
                <tr>
                    <td>Graduate Employment Rate</td>
                    <td>This metric tracks the percentage of students in a full or part time job directly after graduation compared to national and global averages.</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="horizontal-stack-w-home" style="padding-bottom: 20px;">
        <h3>The following tables explain each of the abbreviations used in the QS Ranking section:</h3>
    </div>
    <div class="table-center">
        <table class="info-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Size</th>
                    <th>Student Count</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>XL</td>
                    <td>Extra Large</td>
                    <td>More than 30,000</td>
                </tr>
                <tr>
                    <td>L</td>
                    <td>Large</td>
                    <td>>= 12,000</td>
                </tr>
                <tr>
                    <td>M</td>
                    <td>Medium</td>
                    <td>>= 5,000</td>
                </tr>
                <tr>
                    <td>S</td>
                    <td>Small</td>
                    <td>Less than 5,000</td>
                </tr>
            </tbody>
        </table>
        <div style="padding-left: 50px;"></div>
        <table class="info-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Focus</th>
                    <th>Faculty Area</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>FC</td>
                    <td>Full comprehensive</td>
                    <td>All 5 faculty areas + medical school</td>
                </tr>
                <tr>
                    <td>CO</td>
                    <td>Comprehensive</td>
                    <td>All 5 faculty areas</td>
                </tr>
                <tr>
                    <td>FO</td>
                    <td>Focused</td>
                    <td>3 or 4 faculty areas</td>
                </tr>
                <tr>
                    <td>SP</td>
                    <td>Specialist</td>
                    <td>2 or fewer faculty areas</td>
                </tr>
            </tbody>
        </table>
        <div style="padding-left: 50px;"></div>
        <table class="info-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Research Intensity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>VH</td>
                    <td>Very High</td>
                </tr>
                <tr>
                    <td>HI</td>
                    <td>High</td>
                </tr>
                <tr>
                    <td>MD</td>
                    <td>Medium</td>
                </tr>
                <tr>
                    <td>LO</td>
                    <td>Low</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
